.login-form {
  margin: 100px auto;
  width: 400px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 10px 10px 10px grey;
  h1 {
    margin: 30px auto 0 auto;
  }
  form {
    margin: 30px 50px 50px 50px;
    display: flex;
    flex-flow: column nowrap;
    input {
      height: 40px;
      margin-bottom: 10px;
      border-radius: 10px;
      text-align: center;
      font-size: 1.4rem;
    }
    button {
      height: 40px;
      width: 40%;
      border-radius: 10px;
      margin: 0 auto;
      font-size: 1.4rem;
    }
    .error {
      color: red;
    }
  }
}
